.container-fluid{
    margin-top: 8%;
    width: 40%;
}

@media (max-width: 768px) {
    .container-fluid{
        width: 45%;
    }
}

@media (max-width: 425px) {
    .container-fluid{
        width: 70%;
        margin-top: 16%;
        margin-bottom: 16%;
    }
}