<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-6">
            <img src="../../../../../assets/somos.jpg" class="img-fluid" alt="somos">
        </div>
        <div class="col-12 col-sm-6">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis rerum omnis fugit laboriosam, iste possimus fuga beatae? Vel exercitationem blanditiis ipsa ut similique animi provident, mollitia quam illo quod repudiandae!
            </p>
        </div>
    </div>
</div>
