<h1 class="titulo">Especialidades
    <div class="border-separador"></div>
</h1>
<section class="container-fluid">
    <div class="row">
        <!--Ortodoncia-->
        <div class="col">
            <div>
                <div class="col contenedor0">
                    <div class="contenedor">
                        <div class="tarjeta">
                            <div class="image">
                                <img src="../../../../../assets/ortodoncia.jpg" />
                            </div>
                            <div class="text-center flecha text-dark">
                                <i class="bi bi-caret-down" style="font-size: 32px"></i>
                            </div>
                            <div class="divTexto">
                                <h4>Ortodoncia</h4>
                                <p>colocacion de brackets</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Ortopedia-->
        <div class="col">
            <div>
                <div class="col contenedor0">
                    <div class="contenedor">
                        <div class="tarjeta">
                            <div class="image">
                                <img src="../../../../../assets/ortopedia.jpg" />
                            </div>
                            <div class="text-center flecha text-dark">
                                <i class="bi bi-caret-down" style="font-size: 32px"></i>
                            </div>
                            <div class="divTexto">
                                <h4>Ortopedia</h4>
                                <p>Ortopedia para niños</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Estetica Dentaria-->
        <div class="col">
            <div>
                <div class="col contenedor0">
                    <div class="contenedor">
                        <div class="tarjeta">
                            <div class="image">
                                <img src="../../../../../assets/estetica.jpg" />
                            </div>
                            <div class="text-center flecha text-dark">
                                <i class="bi bi-caret-down" style="font-size: 32px"></i>
                            </div>
                            <div class="divTexto">
                                <h4>Estetica Dentaria</h4>
                                <p>Estetica Dentaria para verse lindo</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <!--Carillas-->
        <div class="col">
            <div>
                <div class="col contenedor0">
                    <div class="contenedor">
                        <div class="tarjeta">
                            <div class="image">
                                <img src="../../../../../assets/carillas.jpg" />
                            </div>
                            <div class="text-center flecha text-dark">
                                <i class="bi bi-caret-down" style="font-size: 32px"></i>
                            </div>
                            <div class="divTexto">
                                <h4>Carillas</h4>
                                <p>Carillas para desimular</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Caries-->
        <div class="col">
            <div>
                <div class="col contenedor0">
                    <div class="contenedor">
                        <div class="tarjeta">
                            <div class="image">
                                <img src="../../../../../assets/caries.jpg" />
                            </div>
                            <div class="text-center flecha text-dark">
                                <i class="bi bi-caret-down" style="font-size: 32px"></i>
                            </div>
                            <div class="divTexto">
                                <h4>Caries</h4>
                                <p>Caries y arreglamos lo que no te cepillaste</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Limpieza-->
        <div class="col">
            <div>
                <div class="col contenedor0">
                    <div class="contenedor">
                        <div class="tarjeta">
                            <div class="image">
                                <img src="../../../../../assets/limpieza.jpg" />
                            </div>
                            <div class="text-center flecha text-dark">
                                <i class="bi bi-caret-down" style="font-size: 32px"></i>
                            </div>
                            <div class="divTexto">
                                <h4>Limpieza</h4>
                                <p>y tus dientes se veran blancos</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <!--Cirugia-->
        <div class="col">
            <div>
                <div class="col contenedor0">
                    <div class="contenedor">
                        <div class="tarjeta">
                            <div class="image">
                                <img src="../../../../../assets/cirugia.jpg" />
                            </div>
                            <div class="text-center flecha text-dark">
                                <i class="bi bi-caret-down" style="font-size: 32px"></i>
                            </div>
                            <div class="divTexto">
                                <h4>Cirugia</h4>
                                <p>cortamos todo</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Endodoncia-->
        <div class="col">
            <div>
                <div class="col contenedor0">
                    <div class="contenedor">
                        <div class="tarjeta">
                            <div class="image">
                                <img src="../../../../../assets/endodoncia.jpg" />
                            </div>
                            <div class="text-center flecha text-dark">
                                <i class="bi bi-caret-down" style="font-size: 32px"></i>
                            </div>
                            <div class="divTexto">
                                <h4>Endodoncia</h4>
                                <p>y chau diente</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Placas de relajacion-->
        <div class="col">
            <div>
                <div class="col contenedor0">
                    <div class="contenedor">
                        <div class="tarjeta">
                            <div class="image">
                                <img src="../../../../../assets/placa.jpg" />
                            </div>
                            <div class="text-center flecha text-dark">
                                <i class="bi bi-caret-down" style="font-size: 32px"></i>
                            </div>
                            <div class="divTexto">
                                <h4>Placas de relajacion</h4>
                                <p>y quedas relax relax</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>