<div class="container-fluid">
    <div class="row">
        <div class="col">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3404.994827107063!2d-64.19203458519384!3d-31.41426860329215!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9432a281fa9c7959%3A0x754c968459297052!2sDe%C3%A1n%20Funes%20438%2C%20X5000AAJ%20C%C3%B3rdoba!5e0!3m2!1ses-419!2sar!4v1676850811907!5m2!1ses-419!2sar" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="col">
            <h1>
                Contactos
            </h1>
            <p>
                <i class="bi bi-geo-alt-fill"></i>
                Consultorio centro: Dean Funes 438
            </p>
            <p>
                <i class="bi bi-geo-alt-fill"></i>
                Consultorio barrio: Felipe II 1674
            </p>
            <div class="mb-4 border-bottom border-primary border-4"></div>
            <p>
                <i class="bi bi-whatsapp"></i>
                351-8137177
            </p>
            <div class="mb-4 border-bottom border-primary border-4"></div>
            <p>
                <i class="bi bi-instagram"></i>
                Instagram
            </p>
            

        </div>
    </div>
</div>
